<%= form_for(game) do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :libswon %>
    <%= f.check_box :libswon %>
  </div>

  <div class="field">
    <%= f.label :winmethod %>
    <%= f.text_field :winmethod %>
  </div>

  <div class="field">
    <%= f.label :playercount %>
    <%= f.number_field :playercount %>
  </div>

  <div class="field">
    <%= f.label :players %>
    <%= f.text_area :players %>
  </div>

  <div class="field">
    <%= f.label :turns %>
    <%= f.text_area :turns %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
